<div *ngFor="let item of [users?.location]" id="divWeatherMain">
  <div *ngFor="let userd of [users?.current] ">
    <div *ngIf="WeatherData.isDay" class="weatherWidgetRow">
      <i class="fas fa-3x fa-sun sun"></i>
      <img class="fas fa-3x fa-sun sun"
        src="https://spaceplace.nasa.gov/templates/featured/sun/all-about-the-sun300.jpg" />

    </div>
    <div *ngIf="!WeatherData.isDay" class="weatherWidgetRow">
      <i class="fas fa-3x fa-moon moon"></i>
      <img class="fas fa-3x fa-moon moon"
        src="https://as2.ftcdn.net/v2/jpg/02/78/71/73/1000_F_278717315_KtaKn0mC0lQ16j20iheyMMrPBOWOQKCa.jpg" />

    </div>
    <div class="weatherWidgetRow cloudDiv">
      <i class="fas fa-cloud fa-3x cloud"></i>
      <img class="fas fa-3x fa-sun cloud"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2RVccgINFfdrUrd9AyhbqGmdnAIizycFRbw&usqp=CAU" />

    </div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;"> <span>{{userd?.temp_c}}°</span></div>
    <div class="weatherWidgetRow" style="font-size: 12px;"> <span>Wind: {{userd?.wind_mph}}°</span></div>
    <div class="weatherWidgetRow" style="font-size: 12px;">
      <span> Feels Like: {{userd?.feelslike_c}}°</span>
    </div>
    <div class="weatherWidgetRow" style="font-size: 12px;">
      <span>Humidity: {{userd?.humidity}}%</span><br>
    </div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;"><span>{{item?.name}}°</span></div>

  </div>
</div>
<!-- <div>
  The name of this Tutorial is  <br>
  The first Topic is  <br>
  The second Topic is  <br>
  The third Topic is  <br>
</div> -->